*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body{
	background-color: #eeeeee;
}

// ul{
// 	list-style-type: none;
// 	margin: 0;
// 	padding: 0;
// 	li{
// 		display: inline-block;
// 		position: relative;
// 	}
// }

.content{
	max-height: 300px;
	max-width: 200px;
}